.app {
  margin-left: 30px;
}

.header {
  background-color: black;
  color: white;
}

.menuDiv {
  margin-bottom: 30px;
  border-bottom: 2px solid gray;
}

li {
  list-style: none;
}

.menuBtn button {
  border-radius: 10px;
  background-color: black;
  color: white;
}

.menuBtn button:hover {
  color: rgba(228, 16, 192, 0.862);
}
